@model IEnumerable<MoviesWebAspNetMVC.Models.Recension>

@{
    ViewData["Title"] = "Index";
}

<h1>Мої рецензії</h1>

<p align="right">
    <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-primary">Поміняти пароль</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
